<div class="items">
    <label class="lblItem" for="avatar_url">Avatar URL</label>
    <input type="url" name="avatar_url" id="avatar_url" value="{{member.avatar_url}}" placeholder="https://">
</div>

<div class="items">
    <label class="lblItem" for="name">Membro</label>
    <input type="text" name="name" id="name" value="{{member.name}}" placeholder="Nome do membro">
</div>

<div class="items">
    <label class="lblItem" for="email">Email</label>
    <input type="email" name="email" id="email" value="{{member.email}}">
</div>

<div class="items">
    <label class="lblItem" for="birth">Data de nascimento</label>
    <input type="date" name="birth" id="birth" value="{{member.birth}}">
</div>

<div class="items">
    <label class="lblItem">Sexo</label>
    
    <label class="lblGender" for="male"><input type="radio" name="gender" id="male" value="M" {% if member.gender == "M" %}
    checked
    {% endif %}>Masculino</label>
    
    <label class="lblGender" for="female"><input type="radio" name="gender" id="female" value="F" {% if member.gender == "F" %}
    checked
    {% endif %}>Feminino</label>
</div>

<div class="items">
    <label class="lblItem" for="blood">Tipo Sanguíneo</label>
    <select class="blood" name="blood" id="blood">
        <option value="A+" selected 
        {% if member.blood == "A+" %}selected{% endif %}>
        A+
        </option>
        <option value="A-" 
        {% if member.blood == "A-" %}selected{% endif %}>
        A-
        </option>
        <option value="B+" 
        {% if member.blood == "B+" %}selected{% endif %}>
        B+
        </option>
        <option value="B-" 
        {% if member.blood == "B-" %}selected{% endif %}>
        B-
        </option>
        <option value="AB+" 
        {% if member.blood == "AB+" %}selected{% endif %}"
        >AB+
        </option>
        <option value="AB-" 
        {% if member.blood == "AB-" %}selected{% endif %}"
        >AB-
        </option>
        <option value="O+" 
        {% if member.blood == "O+" %}selected{% endif %}>
        O+
        </option>
        <option value="O-" 
        {% if member.blood == "O-" %}selected{% endif %}>
        O-
        </option>
    </select>
</div>

<div class="items">
    <label class="lblItem" for="weight">Peso (kg)</label>
    <input type="number" name="weight" id="weight" value="{{member.weight}}">
</div>

<div class="items">
    <label class="lblItem" for="height">Altura (cm)</label>
    <input type="number" name="height" id="height" value="{{member.height}}">
</div>