{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Fred Flintstone</title>
{% endblock %}

{% block content %}
    <main>
        <section class="profile_container">
            <article class="people_profile">
                <img src="{{about.avatar_url}}" alt="imagem do fred flintstone.">
                <h1>{{about.name}}</h1>
                <h2>{{about.role}}</h2>
                <p>{{about.description}}</p>
                <ul class="profile_list">

                    {% for link in about.links %}

                    <li>
                        <a class="links" href="{{link.url}}" target="_blank">{{link.name}}</a>
                    </li>

                    {% endfor %}

                </ul>
            </article>
        </section>
    </main>
{% endblock %}