{% extends "layout.njk" %}

{% block head %}
<title>Student - {{student.name}}</title>
{% endblock head %}

{% block content %}
<main>
    <div class="teacherProfile">
        <div class="avatar" style='background-image: url("{{student.avatar_url}}");'></div>

        <div class="details">
            <form method="POST" action="/students?_method=PUT">
                <h2>Editar aluno</h2>
    
                {% include 'students/fields.njk' %}

                <input type="hidden" name="id" value="{{student.id}}">

                <button class="buttonsSub" type="submit">Salvar</button>
            </form>

            <form class="form_delete" method="post" action="/students?_method=DELETE">
                <input type="hidden" name="id" value="{{student.id}}">

                <button class="buttonsSub" type="submit">Deletar</button>
            </form>
        </div>
    </div>
</main>

{% include 'confirmation.njk' %}

{% endblock content %}