{% extends 'layout.njk' %}

{% block content %}
<main>
    <section class="banner">
        <div class="bannerInfo">
            <h2>As melhores receitas</h2>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <div class="mascot">
            <img src="/assets/chef.png">
        </div>
    </section>

    <section class="mostAccessed">
        <h3>Mais acessadas</h3>
        <div class="cardsMost">
            {% for recipe in recipe %}
            <div class="cardMost">
                <div class="thumbMost">
                    <img src="{{recipe.image}}">
                </div>
                <div class="infoMost">
                    <h4 class="titleMost">{{recipe.title}}</h4>
                    <p class="authorMost">por <span>{{recipe.author}}</span></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock content %}

