{% extends "layout.njk" %}

{% block head %}
    <title>Rocketseat - Desafios</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
{% endblock %}

{% block content %}
    <main>
        <section class="challenges_container">
            <div class="cards_challenges">

                {% for title in titles%}

                <div class="card_challenges">
                    <h1>{{title.title}}</h1>
                </div>

                {% endfor %}

            </div>
        </section>
        
        <section class="modal_container">
            <div class="modal">
                <div class="modal_content">
                    <span class="material-icons close_button">close</span>
                    <div class="card_modal">
                        <h1 class="modal_item_title">Sobre o desafio</h1>
                        <p>Criar um arquivo html que contenha um favicon e um header com 3 links: Comunidade, Email e Telefone.</p>

                        <h2 class="modal_item_subtitle">Favicon</h2>
                        <p>O favicon é o ícone que aparece na aba do navegador. O arquivo está disponível com o nome favicon.ico. Para utilizá-lo é necessário importá-lo com a tag link no html. ser dada a dica de utilizar a tag link na head do html.</p>
                        <code class="modal_item_code">&lt;link rel="icon" href="favicon.ico" type="image/x-icon"&gt;</code>

                        <h2 class="modal_item_subtitle">Links</h2>
                        <ul class="modal_item_list">
                            <li>Comunidade: Link que deve apontar para o convite da comunidade aberta da rocketseat (https://discordapp.com/invite/gCRAFhc)</li>
                            <li>Email: Link que deve chamar o comando de enviar email para o destinatário oi@rocketseat.com.br. Dica: utilize o comando mailto dentro do href;</li>
                            <li>Telefone: Link que deve chamar o comando de realizar uma ligação para o número +5547992078767. Dica: utilize o comando tel dentro do href;</li>
                        </ul>

                        <h2 class="modal_item_subtitle">Estilização</h2>
                        <p>Você tem liberdade para escolher a estilização que preferir para esse desafio, mas alguns pontos são obrigatórios:</p>
                        <ul class="modal_item_list">
                            <li>Deve ser aplicado um background</li>
                            <li>Deve ser utilizada a fonte Roboto</li>
                            <li>O header precisa ocupar todo o espaço lateral e superior (body sem margin)</li>
                            <li>O header precisa ter um espaçamento interno de 30px em todas as direções</li>
                            <li>Os links devem ter um espaçamento de 30px entre si</li>
                        </ul>
                    </div>

                    <div class="card_modal">
                        <h1 class="modal_item_title">Sobre o desafio</h1>
                        <p>A partir do arquivo do desafio 2-1, adicionar um novo link no header chamado Sobre. Essa página deverá mostrar informações referentes a Rocketseat.</p>

                        <h2 class="modal_item_subtitle">Informações da página</h2>
                        <ul class="modal_item_list">
                            <li>Uma imagem da logo da empresa</li>
                            <li>O nome da empresa</li>
                            <li>Uma breve descrição da empresa</li>
                            <li>Uma lista com as principais tecnologias utilizadas. Dica: utilize a tag ul para lista e li para o item da lista.</li>
                            <li>Links para as redes sociais da empresa (Github, Instagram e Facebook)</li>
                        </ul>

                        <h2 class="modal_item_subtitle">Estilização</h2>
                        <p>Você tem liberdade para escolher a estilização que preferir para esse desafio, mas alguns pontos são obrigatórios:</p>
                        <ul class="modal_item_list">
                            <li>A imagem deve ter uma borda e um formato circular.</li>
                            <li>Deve ser utilizada a fonte Roboto</li>
                            <li>O nome da empresa e a imagem devem ser destacar do restante</li>
                            <li>Os links das redes sociais devem ter alguma alteração visual quando o cursor do mouse passar por cima</li>
                        </ul>
                    </div>

                    <div class="card_modal">
                        <h1 class="modal_item_title">Sobre o desafio</h1>
                        <p>A partir do arquivo do desafio 2.2, adicionar no header um link chamado Conteúdos. Essa página deve conter um grid onde devem ser mostrados os seus 3 posts favoritos do Blog da Rocketseat <a href="https://blog.rocketseat.com.br/">(Blog)</a>. Ao clicar em um dos posts, deve ser aberta uma modal onde um iframe irá carregar as informações do post selecionado.</p>

                        <h2 class="modal_item_subtitle">Informações da página</h2>
                        <ul class="modal_item_list">
                            <li>Imagem de destaque do Post <a href="https://www.youtube.com/watch?v=f4aS9ZULm4A&feature=youtu.be">(Tutorial de como pegar os links das imagens)</a></li>
                            <li>Título do Post</li>
                            <li>Autor do Post</li>
                            <li>Tempo de Leitura</li>
                        </ul>

                        <h2 class="modal_item_subtitle">Modal</h2>
                        <p>O modal deve conter um iframe que busca a página do post (dica: basta adicionar o Slug - versão padronizada do título - ao final de https://blog.rocketseat.com.br/, por exemplo, axios-um-cliente-http-full-stack). Além do botão de fechar o modal, é preciso implementar a funcionalidade de maximizar o modal (dica: utilize a mesma lógica implementada para fechar o modalOverlay, mas trabalhe com a classe modal e utilize o método contains do classList para verificar se o elemento está ou não com a classe maximize).</p>

                        <h2 class="modal_item_subtitle">Estilização</h2>
                        <p>Você tem liberdade para escolher a estilização que preferir para esse desafio, mas alguns pontos são obrigatórios:</p>
                        <ul class="modal_item_list">
                            <li>Deve ser utilizado o grid para organizar os posts</li>
                            <li>O modal nunca deve abrir maximizado</li>
                        </ul>
                    </div>

                    <div class="card_modal">
                        <h1 class="modal_item_title">Sobre o desafio</h1>
                        <p>Nesse desafio você deve criar um servidor que tenha duas rotas que devem retornar o conteúdo dos html gerados no desafio 2-3 (páginas de Cursos e Sobre). Além disso, deve ser implementando um arquivo padrão (layout.njk) que reaproveite o código em comum entre esses dois e também um arquivo que sirva uma página de erro 404. <br><br>Erro 404 é comum aparecer em páginas da internet, quando não foi encontrado nenhum conteúdo.</p>

                        <h2 class="modal_item_subtitle">Arquivos HTML</h2>
                        <ul class="modal_item_list">
                            <li>courses.njk: Arquivo referente à pagina de conteúdos, deve ser servido na rota raiz.</li>
                            <li>about.njk: Arquivo referente à pagina de descrição, deve ser servido na rota /about.</li>
                            <li>layout.njk: Arquivo referente à base comum entre as páginas.</li>
                            <li>not-found.njk: Arquivo referente à pagina de erro 404, deve ser servido quando for realizada uma requisição à uma página que não existe. Esse arquivo deve ter:
                                <ul class="modal_item_sublist">
                                    <li>Layout.njk como base</li>
                                    <li>Ter um texto infortivo sobre o erro</li>
                                </ul>
                            </li>
                        </ul>
                        <p>Dica: Para capturar essas requisições, basta adicionar esse trecho após todas as rotas no seu server.js:</p>
                        <code class="modal_item_code">
                            <span>server.use(function(req, res) {</span>
                            <span class="middle_item_code">res.status(404).render("not-found");</span>
                            <span>});</span>
                        </code>

                        <h2 class="modal_item_subtitle">Estilização</h2>
                        <p>Você tem liberdade para escolher a estilização que preferir para esse desafio.</p>
                    </div>

                    <div class="card_modal">
                        <h1 class="modal_item_title">Sobre o desafio</h1>
                        <p>Nesse desafio você deve atualizar os arquivos com informações de cursos e descrição de forma dinâmica.</p>

                        <h2 class="modal_item_subtitle">Estilização</h2>
                        <p>Você tem liberdade para escolher a estilização que preferir para esse desafio.</p>
                    </div>

                     <div class="card_modal">
                        <h1 class="modal_item_title">Sobre o desafio</h1>
                        <p>Nesse desafio você deve criar uma página de descrição do curso que deve ser chamada no lugar da modal quando o usuário clicar no card do curso.</p>

                        <h2 class="modal_item_subtitle">Rota</h2>
                        <p>A rota também será a /courses, porém o id do curso será passado via route params (ex.: /courses/id_do_curso). Dica: utilize o req.params para recuperar o id fornecido na rota.</p>
                        <code class="modal_item_code">
                            <span>server.get("/courses/:id", function(req, res) {</span>
                            <span class="middle_item_code">const id = req.params.id;</span>
                            <span class="middle_item_code">return res.send(`O id fornecido na rota é: ${id}`);</span>
                            <span>});</span>
                            
                        </code>

                        <h2 class="modal_item_subtitle">Informações</h2>
                        <ul class="modal_item_list">
                            <li>Layout padrão</li>
                            <li>Card do curso</li>
                            <li>Link que redireciona para a página do curso</li>
                        </ul>

                        <h2 class="modal_item_subtitle">Fórum</h2>
                        <p>Se houver mais dúvida sobre o desafio, essa thread no fórum poderá ser útil para você <g-emoji class="g-emoji" alias="purple_heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f49c.png">💜</g-emoji>
                        <a href="https://app.rocketseat.com.br/h/forum/launchbase/07c66e6d-06ff-4cfb-baf2-b5b27be6ac8b" rel="nofollow">https://app.rocketseat.com.br/h/forum/launchbase/07c66e6d-06ff-4cfb-baf2-b5b27be6ac8b</a></p>

                        <h2 class="modal_item_subtitle">Estilização</h2>
                        <p>Você tem liberdade para escolher a estilização que preferir para esse desafio.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="/js/cards.js"></script>
{% endblock %}