{% extends "layout.njk" %}

{% block head %}
    <title>Rocketseat - Conteúdos</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
{% endblock %}

{% block content %}
    <main>
        <section class="cards_container">
            <div class="cards">

                {% for info in infos %}

                <div class="card" id="{{info.id}}">
                    <div class="card_image_container">
                        <img src="{{info.avatar_url}}">
                    </div>
                    <div class="card_title">
                        <h1>{{info.title}}</h1>
                    </div>
                    <div class="card_info">
                        <p class="card_author">{{info.author}}</p>
                        <p class="card_time">{{info.time}}</p>
                    </div>
                </div>

                {% endfor %}

            </div>
        </section>
    </main>

    <script src="/js/cards_content.js"></script>
{% endblock %}