{% extends "layout.njk" %}

{% block head %}
    <title>Rocketseat - 404</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/styles/style.css">
{% endblock %}

{% block content %}
    <main>
        <div class="not_found_container">
            <h1>404</h1>
            <h2>Página não encontrada.</h2>
        </div>
    </main>
{% endblock %}