{% extends "layout.njk" %}

{% block head %}
    <title>{{info.title}}</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
{% endblock %}

{% block content %}
    <main>
        <section class="iframe_container">
            <iframe src="https://blog.rocketseat.com.br/{{info.id}}" frameborder="0"></iframe>
        </section>
    </main>
{% endblock %}