{% extends "layout.njk" %}

{% block head %}
<title>Gym Manager - Instructors</title>
{% endblock head %}

{% block content %}
    <main>
        <div class="card">
            <section class="avatar" style="background-image: url('https://source.unsplash.com/collection/3203326/500x500');"></section>
            <section class="details">
                <h2>Detalhes</h2>
                <div class="items">
                    <h3>Instructor</h3>
                    <p>Juvana Ramos</p>
                </div>

                <div class="items">
                    <h3>Idade</h3>
                    <p>29</p>
                </div>

                <div class="items">
                    <h3>Sexo</h3>
                    <p>Feminino</p>
                </div>

                <div class="items">
                    <h3>Acompanhamento</h3>
                    <div class="follows">
                        <span>Musculação</span>
                        <span>Crossfit</span>
                    </div>
                </div>

                <div class="items">
                    <h3>Desde</h3>
                    <p>01/01/2019</p>
                </div>
            </section>
        </div>
    </main>
{% endblock content %}