{% extends "layout.njk" %}

{% block head %}
<title>Gym Manager - Instructors</title>
{% endblock head %}

{% block content %}
    <main>
        <div class="card">
            <section class="avatar"></section>
            <section class="details"></section>
        </div>
    </main>
{% endblock content %}