{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Sobre nós</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/styles/style.css">
{% endblock head %}
    
{% block content %}
    <main>
        <section class="aboutContainer">
            <h1>Sobre o Foodfy</h1>
            <p>Ut aliquet sed hac iaculis aliquam leo venenatis auctor semper faucibus, quisque ut gravida metus vehicula libero curae velit lorem, tincidunt cursus varius rhoncus nisi vulputate ultricies lacinia lorem. tempus nullam mattis curabitur ornare ut class nulla torquent condimentum, enim imperdiet dictumst sollicitudin aliquet in interdum sed, curabitur metus maecenas lobortis odio tincidunt interdum etiam. pellentesque volutpat lacus praesent massa taciti integer semper turpis etiam, ac bibendum semper nibh fermentum etiam ornare vitae, felis sociosqu a augue per elit erat mi. faucibus malesuada scelerisque sapien gravida fringilla varius augue vehicula, cubilia aptent urna orci quisque iaculis nec.</p>
            
            <p>Cras venenatis luctus enim tincidunt arcu leo class morbi ultricies nisi diam sapien, etiam sapien torquent facilisis porta donec mollis est platea ante euismod, maecenas vitae inceptos convallis amet eleifend sagittis ut luctus curabitur ultrices. ad lorem aenean integer lorem accumsan odio donec tristique consectetur maecenas id, integer vulputate cursus magna urna vel ipsum accumsan curabitur sociosqu. imperdiet quam sed tincidunt vivamus dictum molestie accumsan, phasellus nibh eleifend consectetur convallis at, turpis venenatis suspendisse molestie curae blandit. vestibulum ultricies suscipit imperdiet aliquet curabitur malesuada duis nullam, sem nisi phasellus diam sollicitudin nam porta tempor eros, sem donec posuere nullam dui curabitur fusce. </p>
        </section>

        <section class="weStartedContainer">
            <h2>Como tudo começou...</h2>
            <p>Nullam fermentum venenatis nibh tincidunt donec euismod hac eleifend lobortis, posuere eget porttitor viverra habitasse urna eget in. fringilla tincidunt adipiscing fermentum taciti tempus enim sollicitudin mattis, accumsan habitasse hendrerit viverra scelerisque neque suscipit, quam rhoncus etiam litora tempor nec rutrum. arcu curae auctor hendrerit rutrum ullamcorper lorem id odio sem torquent, curabitur bibendum lorem nullam est malesuada lorem arcu habitant potenti donec, adipiscing interdum placerat nibh vel pretium magna dictum lectus. nec odio consequat semper et facilisis non sed eu taciti, pretium euismod odio ullamcorper laoreet curabitur per nibh, faucibus eu blandit mauris eget ultrices pretium fusce.</p>

            <p>Elit quis tellus cursus rhoncus pretium blandit class etiam commodo, nibh egestas placerat imperdiet metus sollicitudin etiam taciti posuere sed, felis maecenas habitant arcu tempus eros dictum dapibus. tortor hac tristique varius aliquet elit aenean a cras porta venenatis, aliquam sociosqu nunc rhoncus neque iaculis venenatis dui pharetra platea, lorem rutrum quisque interdum senectus praesent elit aliquam senectus. pellentesque curabitur blandit ultrices erat tellus nullam magna felis lorem orci, purus porta dapibus ornare erat curae quam commodo quam vulputate augue, tortor ultrices elementum facilisis cursus leo curabitur sociosqu vivamus. nibh vivamus ultrices sapien eu condimentum curabitur taciti, magna molestie facilisis morbi pellentesque torquent enim egestas, enim et blandit aliquam lorem etiam.</p>
        </section>

        <section class="ourRecipesContainer">
            <h2>Nossas receitas</h2>
            <p>Sollicitudin nec conubia donec porttitor quisque eget viverra nec eros, est semper cursus vestibulum luctus curae interdum erat aliquam, ultrices eleifend commodo inceptos et est suscipit interdum. nisl nibh proin volutpat eros accumsan ac senectus nullam, morbi ut mauris blandit imperdiet praesent fermentum vivamus, platea pharetra litora nulla aliquam malesuada lorem. sagittis pharetra rutrum cursus fusce rhoncus lectus ipsum etiam turpis ipsum, velit curabitur aliquet ultricies imperdiet sem molestie vehicula class, netus nec metus luctus interdum pellentesque dolor aptent habitant. est metus primis vehicula mattis vestibulum habitasse hendrerit conubia, netus hac auctor viverra semper quisque egestas netus donec, potenti quisque volutpat congue dolor vel mattis.</p>
        </section>
    </main>
{% endblock content %}
    