{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
{% endblock head %}

{% block content %}
    <main>
        <section class="recipesContainer">
            <div class="cards_RecCont">

                {% for recipe in recipes %}

                    <div class="card_RecCont" id="{{recipe.id}}">
                        <div class="thumbContainer_RecCont">
                            <img src="{{recipe.image}}">
                        </div>
                        <div class="cardInfo_RecCont">
                            <h2 class="recipeTitle_RecCont">{{recipe.title}}</h2>
                            <p class="recipeAuthor_RecCont">por <span>{{recipe.author}}</span></p>
                        </div>
                    </div>

                {% endfor %}
                
            </div>
        </section>
    </main>

    <script src="/js/cards.js"></script>
{% endblock content %}