{% extends 'default/layout.njk' %}

{% block head %}
<title>Foodfy - {{recipe.title}}</title>
{% endblock head %}

{% block content %}
<main>
    <section class="bannerRecipe">
        <div class="thumbRecipe">
            <img src="{{recipe.image}}">
        </div>
        <div class="infoRecipes">
            <h1 class="titleRecipe">{{recipe.title}}</h1>
            <h2 class="authorRecipe">por <span>{{recipe.author}}</span></h2>
        </div>
    </section>

    <section class="ingredients">
        <h3>Ingredientes</h3>
        <span class="btnIngredients">Esconder</span>
        <ul class="ingredientsList">
            {% for ingredient in recipe.ingredients %}
            <li>{{ingredient}}</li>
            {% endfor %}
        </ul>
    </section>

    <section class="prepareMode">
        <h3>Modo de preparo</h3>
        <span class="btnPrepare">Esconder</span>
        <ul class="prepareList">
            {% for prepare in recipe.preparation %}
            <li>{{prepare}}</li>
            {% endfor %}
        </ul>
    </section>

    <section class="addInfo">
        <h3>Informações adicionais</h3>
        <span class="btnInfo">Esconder</span>
        <p class="infoList">{{recipe.information}}</p>
    </section>
</main>

<script src="/javascript/switch.js"></script>
{% endblock content %}