@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --main-color: #92E866;
    --second-color: #62DE63;
    --thid-color: #AFD266;
}

/* === AVULSOS === */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-color);
    font-family: 'Source Sans Pro', sans-serif;
}

/* === HEADER === */

header {
    width: 100%;
    background-color: white;
    padding: 24px;
    text-align: center;
    box-sizing: border-box;
}

.navLinks {
    text-decoration: none;
    margin: 0 16px;
    color: #777;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 1px;
    position: relative;
}

.navLinks:hover {
    color: var(--main-color);
    transition: color 300ms ease-in-out;
}

.navLinks.active {
    color: var(--main-color);
    font-weight: 700;
}

.navLinks::before {
    content: "";
    position: absolute;
    right: 0;
    top: -2px;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
}

.navLinks:hover::before {
    content: "";
    width: 100%;
    height: 3px;
    transition: width 600ms ease-in-out;
}

.navLinks::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
}

.navLinks:hover::after {
    content: "";
    width: 100%;
    transition: width 600ms ease-in-out;
}

/* === TEACHER PROFILE === */

main {
    width: 100%;
}

.teacherProfile {
    background-color: white;
    width: 800px;
    min-height: 500px;
    margin: 45px auto;

    display: grid;
    grid-template-columns: 40% 60%;

    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.4);

    animation: down 600ms ease-in-out forwards;
}

@keyframes down {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
    }
}

/* === TEACHER PROFILE > AVATAR === */

.avatar {
    background-image: url("https://source.unsplash.com/collection/332741/");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* === TEACHER PROFILE > DETAILS === */

.details {
    padding: 32px;
}

.details h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: var(--main-color);
}

.items {
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.items:last-child {
    border: none;
}

.items h3 {
    color: #888;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
}

.items p {
    color: #444;
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
}

.subjects span {
    display: inline-block;
    background-color: var(--second-color);
    margin-top: 8px;
    padding: 8px 16px;
    border-radius: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #555;
    margin-right: 8px;
}

/* === FORM === */

.lblItem {
    display: block;
    color: #888;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
}

input {
    width: 100%;
    border: none;
    outline: none;
    color: #444;
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
}

input::placeholder {
    font-size: 18px;
    font-weight: normal;
}

select {
    width: 100%;
    padding: 8px;
    border: none;
    color: #444;
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
}


input[type="radio"] {
    width: initial;
}

.lblModality {
    display: inline-block;
    margin-top: 8px;
    margin-right: 8px;
    background-color: var(--second-color);
    padding: 8px 16px;
    border-radius: 32px;
    text-transform: uppercase;
    color: #444;
    font-weight: bold;
}

button[type="submit"] {
    margin-top: 16px;
    width: 100%;
    border: none;
    padding: 12px;
    background-color: var(--second-color);
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
}