{% extends "layout.njk" %}

{% block head %}
<title>Teacher - {{teacher.name}}</title>
{% endblock head %}

{% block content %}
<main>
    <div class="teacherProfile">
        <div class="avatar" style='background-image: url("{{teacher.avatar_url}}");'></div>

        <div class="details">
            <form method="POST" action="/teachers?_method=PUT">
                <h2>Editar professor</h2>
    
                {% include 'teachers/fields.njk' %}

                <input type="hidden" name="id" value="{{teacher.id}}">

                <button class="buttonsSub" type="submit">Salvar</button>
            </form>

            <form class="form_delete" method="post" action="/teachers?_method=DELETE">
                <input type="hidden" name="id" value="{{teacher.id}}">

                <button class="buttonsSub" type="submit">Deletar</button>
            </form>
        </div>
    </div>
    
</main>
{% endblock content %}