{% extends "layout.njk" %}

{% block head %}
<title>Teacher - {{teacher.name}}</title>
{% endblock head %}

{% block content %}
<main>
    <form method="POST" action="/teachers" class="teacherProfile">
        <div class="avatar" style='background-image: url("{{teacher.avatar_url}}");'></div>
        <div class="details">
            <h2>Editar professor</h2>
    
            {% include 'teachers/fields.njk' %}

            <button type="submit">Cadastrar</button>
        </div>
    </form>
</main>
{% endblock content %}