{% extends "layout.njk" %}

{% block head %}
<title>Teachers</title>
{% endblock head %}

{% block content %}
<main>
    <section class="teacherProfile">
        <div class="avatar" style="background-image: url('https://source.unsplash.com/collection/332741/');"></div>
        <div class="details">
            <h2>Detalhes</h2>
            <div class="items">
                <h3>Nome</h3>
                <p>Alice Ramos</p>
            </div>

            <div class="items">
                <h3>Idade</h3>
                <p>19</p>
            </div>

            <div class="items">
                <h3>Grau de escolaridade</h3>
                <p>Doutorado</p>
            </div>

            <div class="items">
                <h3>Modalidade</h3>
                <p>EAD</p>
            </div>

            <div class="items">
                <h3>Disciplina</h3>
                <div class="subjects">
                    <span>Português</span>
                    <span>Inglês</span>
                </div>
            </div>

            <div class="items">
                <h3>Desde</h3>
                <p>01/03/2020</p>
            </div>
        </div>
    </section>
</main>
{% endblock content %}